* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

body {
    font-family: Helvetica, Arial, san-serif;

    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;

}

section {

    padding: 60px;

}

.section-title {
  font-size: 55px;
  color: #024e76;
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

/* apply styles to <header> */
header {

    padding: 20px 35px;

    background-color: #39a6b2;

    display: flex;

    justify-content: space-between;

    flex-wrap: wrap;
     
}

header h1 {

    font-weight: bold;

    font-size: 36px;

    color: #fce138;

    margin: 0;
}

header a {

    text-decoration: none;

    color: #fce138;
}

header nav {
     margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {

    margin: 0 30px;
    
    font-weight: lighter;
    
    font-size: 1.55vw;
}

footer {

    background: #fce138;

    width: 100%;

    padding: 40px 35px;

    display: flex;

    justify-content: space-between;

    flex-wrap: wrap;

}

footer h2 {

    color: #024e76;

    font-size: 30px;

    margin: 0;

}

footer div {
  
    line-height: 1.5;

    text-align: right;

}

footer a {

    color: #024e76;

}

/* Hero Style Start */

.hero {
    
    background-image: url("../css/images/hero-bg.jpg");
    background-size: cover;
    background-position: center;    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

/* Hero Style End*/

.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #fce138;
}

.hero-form {

    color: #024e76;

    background-color: #fce138;

    padding: 20px;    

    border: 3px solid #024e76;  

    width: 40%;

    margin: 3.5%
}

.hero-form p {

    margin:5px 0 15px 0;

}

.hero-form h3 {

    font-size: 24px;

    margin: 0;

}

.intro p {
  line-height: 1.7;
  color: #39a6b2;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}

.form-input {

    border: 1px solid #024e76;

    display: block;

    padding: 7px 15px;

    font-size: 16px;

    color: #024e76;

    width: 100%;

    margin-bottom: 15px;

}

.hero-form button {

    color: #fce138;

    background-color: #024e76;

    border: none;

    padding: 10px 20px;

    font-size: 16px;
    
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.steps {
  background: #fce138;
}

.trainers {
  
}

.contact {
  background-color: #024e76;
}

.flex-row {
  display: flex;
}